amqp==5.1.0
appdirs==1.4.4
asgiref==3.5.0
astroid==2.11.2
attrs==21.4.0
billiard==3.6.4.0
cachetools==5.0.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
-e git+https://github.com/bcdevworks/conekta-python.git@a46819a4c95d5e62b75eb85516495e21c095d1fa#egg=conekta
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.2
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
Django==3.1.14
django-braces==1.15.0
django-cors-headers==3.11.0
django-environ==0.8.1
django-oauth-toolkit==1.7.1
django-rest-framework-social-oauth2==1.1.0
django-templated-mail==1.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
djoser==2.1.0
filelock==3.6.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
google-api-core==2.7.1
google-api-python-client==2.43.0
google-auth==2.6.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.1
google-cloud-secret-manager==2.10.0
googleapis-common-protos==1.56.0
googlemaps==4.6.0
greenlet==1.1.2
grpc-google-iam-v1==0.12.4
grpcio==1.44.0
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.1
jwcrypto==1.0
kombu==5.2.4
lazy-object-proxy==1.7.1
libcst==0.4.1
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==0.4.3
nose==1.3.7
oauthlib==3.2.0
packaging==21.3
pipenv==2022.4.8
pluggy==1.0.0
prompt-toolkit==3.0.29
proto-plus==1.20.3
protobuf==3.20.0
psycopg2==2.9.3
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pylint==2.13.5
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pylint-plugin-utils==0.7
pyparsing==3.0.7
pytest==7.1.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
q==2.6
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
simplejson==3.17.6
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.2.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
toml==0.10.2
typing-extensions==4.1.1
typing-inspect==0.7.1
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
Werkzeug==2.1.1
whitenoise==6.0.0
wrapt==1.14.0
